@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    font-family: 'Inter';
    background-color:  rgb(241, 241, 241);
}

a{
    text-decoration: none;

    .seller-button{
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        padding: 10px 20px;
        font-family: 'Inter';
        font-weight: 700;
        align-items: center;
        text-decoration: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}

.button-style{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
}

.image-carousel-container {
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;

    .search-bar {
        height: 100px;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        position: absolute;
        bottom: -50px; 
        box-shadow: 0px 6px 10px 5px rgba(42, 42, 42, 0.069);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        
        .search-elem{
            padding: 0 20px;
            border-right: 1px solid rgb(213, 213, 213);

            &:nth-last-child(2){
                border-right: 1px solid rgba(253, 0, 0, 0);
            }
        }

        .search-btn{
            height: 60px;
            width: 60px;
            background-color: black;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-elem label {
            display: block; 
            margin-bottom: 5px; 
            font-weight: 800;
        }

        .search-elem input {
            border: none;

            &:focus {
                outline: none !important;
                border:1px solid rgb(0, 0, 0);
              }
        }
        
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 0 0 40px 40px;
    }
}

.cards-container{
    padding: 120px 100px;
}

.personal-content{
    margin: 30px 0;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;

    .image-card-container{
        width: 100%;
        height: calc(100% - 110px);
        border-radius: 20px 20px 0 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover; 
            border-radius: 20px 20px 0 0;
        }

    }

    .apartment-details{
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        line-height: 0.6;
    }

}

.distance-filter-section{
    width: 100px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: absolute;

    top: 120px;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0 50px;
    font-size: 20px;
}


@media screen and (max-width: 576px) {
    .cards-container {
        display: flex;
        justify-content: center;
    }
  }











