@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    font-family: "Inter";
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;

    .seller-button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        padding: 10px 20px;
        font-family: "Inter";
        font-weight: 700;
        align-items: center;
        text-decoration: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}

.button-style {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
}

.error-password{
    display: none;
}

.fa-sliders{
    cursor: pointer;
    transition-duration: 0.3s;
    color: #7b7b7b;

    &:hover{
        color: #000;
    }
}

.searchbar-size{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 60px;
    font-size: 20px;
    right: 50%;
    transform: translate(0, -100%);
}

.search-bar {
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    bottom: -50px;
    box-shadow: 0px 6px 10px 5px rgba(42, 42, 42, 0.069);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    position: relative;


        .search-elem {
            padding: 0 20px;
            border-right: 1px solid rgb(213, 213, 213);

            &:nth-last-child(3) {
                border-right: 1px solid rgba(253, 0, 0, 0);
            }
        }

        .search-btn {
            height: 60px;
            width: 60px;
            background-color: black;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-elem label {
            display: block;
            margin-bottom: 5px;
            font-weight: 800;
        }

        .search-elem input {
            border: none;

            &:focus {
                outline: none !important;
                border: 1px solid rgb(0, 0, 0);
            }
        }


        
    }

    .distance-filter-section {
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
    
        top: 120px;
        border-radius: 10px;
        opacity: 0;
        transition-duration: 0.3s;
        display: flex;
        align-items: center;
        font-weight: 700;
        padding: 0 50px;
        font-size: 20px;
    }


.image-carousel-container {
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;

    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0 40px 40px;
    }
}

.filter-section {
    width: 25%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: absolute;

    right: 0;
    top: 120px;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding: 0 50px;
    font-size: 14px;

    .rooms-number-input{
        width: 40px;
    }
}

.cards-container {
    padding: 0px 100px;
}

.personal-content {
    margin: 30px 0;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;

    .image-card-container {
        width: 100%;
        height: calc(100% - 110px);
        border-radius: 20px 20px 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    }

    .apartment-details {
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        line-height: 0.6;
    }
}

.img-show {
    width: 300px;
    height: auto;
}

.distance-filter-section {
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}


.slider {
    width: 60%;
    margin: 0 25px;
    cursor: grab;
}

.btn-bg {
    background-color: red;
    color: white;
}

.pagina_error {
    text-align: center;
    justify-content: center;
    font-size: 100px;
}

@media screen and (max-width: 576px) {
    .cards-container {
        display: flex;
        justify-content: center;
    }
}

/* Input Styles */
.tt-search-box-input-container {
    display: flex;
}

.tt-search-box-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tt-search-box-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.tt-search-box-input-container svg {
    display: none;
}

.tt-search-box-input-container {
    all: unset;
}

.tt-search-box-result-list-container {
    max-height: 270px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 9px -1px rgba(0, 0, 0, .19)
}

.tt-search-box-result-list {
    background-color: #fff;
    cursor: pointer;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #edf2f7;
    color: #7a7e80;
    display: flex;
    align-items: center
}

.tt-search-box-input {
    color: #000;
}

.tt-search-box-result-list>svg {
    flex-shrink: 0;
    fill: #7a7e80;
    margin-right: 4px
}

.tt-search-box-result-list-text-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px
}

.tt-search-box-result-list-distance {
    margin-left: auto;
    font-size: 10px;
    white-space: nowrap;
    word-break: keep-all
}

.tt-search-box-result-list.-highlighted {
    background-color: #edf2f7 !important;
    height: auto
}

.tt-search-box-result-list-bold {
    font-weight: 700;
    color: #000
}

.tt-search-box-close-icon {
    cursor: pointer;
    margin-left: auto;
    fill: #ccc;
    transition: fill .2s ease
}

.tt-search-box-close-icon:hover {
    fill: #7a7e80
}

.tt-search-box-close-icon.-hidden {
    visibility: hidden
}

.paragraph-padded{
    padding: 0 300px;
    color: #212121;
    font-weight: 200;
    font-size: 20px;
}

.image-container{
    width: 100%;
    height: 500px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    object-fit:contain;

    .fa-image{
        font-size: 60px;
    }

    .text-image{
        font-weight: 900;
    }

    .input-cover-image{
        opacity: 0;
        display: none;
    }

    #preview-image{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 998;
        object-fit:cover;
    }

    .input-cover-image label{
        opacity: 0;
        display: none;
    }

    .label-cover-image{
        background-color: #000;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        font-weight: 900;
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 999;

    }
}

#image_gallery{
    display: none;
}

.label-gallery{
    font-size: 45px;
    color: white;
    background-color: black;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.add-image-gallery{
    background-color: rgb(240, 240, 240);
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.padding-create{
    padding: 70px 0;
}

.content-square{
    img{
        width: 100%;
        height: 100%;
    }
}





@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: black;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: black;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }